[Desktop Entry]
Type=Application
Name=Q3N Manager
Comment=Browse and edit Q3N quote collections
Exec=q3n-gui %F
Icon=q3n
Terminal=false
Categories=Office;Database;TextTools;
MimeType=application/x-q3n;
Keywords=quote;citation;notes;reference;
StartupNotify=true
